html, body {
    height: 100%;
    margin: 0;
  }

#map {
    width: 100%;
    height: 90%;
  }

  .logoContainer {
    position: relative;
    z-index: 1;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    max-width: 400px;
    width: 100%;
    height: 75px;
    text-align: right;
    display: flex;
    margin: 1em 0;
    align-items: center;
    overflow: hidden;
}

img {
  width: 100%;
  vertical-align: middle;
}

.column {
  flex: 50%;
}

.textContainer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  right: 0;
  width: 50%;
  height: 75px;
  text-align: right;
  display: flex;
  float: right;
  justify-content: flex-end;
  margin: 1em 0;
  align-items: center;
  margin-left: auto; 
  margin-right: 0;
}

.leaflet-control-zoomhome a {
  font: bold 18px "Lucida Console", Monaco, monospace;
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
font-size: 1.5em;
line-height: 26px;
}


/* leaflet button styling */
.leaflet-control-geosearch .leaflet-geosearch-bar {
  border-radius: 50px;
  border-bottom: none;
}

